[package]
name = "celo-host"
version = "0.1.0"
edition.workspace = true
license.workspace = true
authors.workspace = true
repository.workspace = true
homepage.workspace = true
publish = false

[lints]
workspace = true

[dependencies]
# Workspace
celo-client.workspace = true
celo-alloy-rpc-types-engine = { workspace = true, features = ["serde"] }
celo-alloy-network.workspace = true
celo-genesis = { workspace = true, features = ["std", "serde"] }

# Kona Binaries
kona-host = { workspace = true, features = ["single"] }

# Proof
kona-mpt.workspace = true
kona-std-fpvm.workspace = true
kona-proof = { workspace = true, features = ["std"] }
kona-preimage = { workspace = true, features = ["std"] }

# Protocol
kona-protocol = { workspace = true, features = ["std", "serde"] }

# Services
kona-cli.workspace = true
kona-providers-alloy.workspace = true

# Alloy
alloy-rlp.workspace = true
alloy-eips = { workspace = true, features = ["kzg"] }
alloy-provider = { workspace = true, features = ["reqwest"] }
alloy-consensus = { workspace = true, features = ["std"] }
alloy-rpc-types = { workspace = true, features = ["eth", "debug"] }
alloy-primitives = { workspace = true, features = ["serde"] }

# Revm
revm = { workspace = true, features = ["std", "c-kzg", "secp256k1", "portable", "blst"] }

# Hokulea
hokulea-proof.workspace = true
hokulea-host-bin.workspace = true

# General
anyhow.workspace = true
tracing.workspace = true
serde_json.workspace = true
async-trait.workspace = true
tokio = { workspace = true, features = ["full"] }
serde = { workspace = true, features = ["derive"] }
clap = { workspace = true, features = ["derive", "env"] }
tracing-subscriber = { workspace = true, features = ["fmt"] }
reqwest.workspace = true

# KZG
ark-ff.workspace = true

[features]
default = ["single"]
single = []

[[bin]]
name = "celo-host"
path = "src/bin/host.rs"
