name: Proof
on:
  push:
    tags:
      - celo/v[0-9]*
    branches: [main]
  merge_group:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: ${{ !startsWith(github.ref, 'refs/tags/') }}

env:
  CARGO_TERM_COLOR: always

jobs:
  host-client-offline-runs:
    name: FPP e2e - ${{ matrix.target}} | ${{ matrix.name }}
    strategy:
      matrix:
        target: ["native"]
        name: ["Celo Sepolia (Isthmus) - Block #12177762"]
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout sources
        uses: actions/checkout@v5
      - uses: ./.github/actions/setup
        with:
          components: llvm-tools-preview
          prefix-key: ${{ matrix.target }}-${{ matrix.name }}
      - uses: taiki-e/install-action@cargo-llvm-cov
      # Below variables can be retrieved by running `just run-client-native`, and witness tar file can be created by compressing the generated data directory after running the command.
      - name: Set run environment
        run: |
          if [[ ${{ contains(matrix.name, 12177762) }} == true ]]; then
            BLOCK_NUMBER=12177762
            echo "BLOCK_NUMBER=$BLOCK_NUMBER" >> $GITHUB_ENV
            echo "L2_CLAIM=0x5783aab680c0aabfae6d633a465d02da922247c8e8adf8c9a18f6caa9da3b40a" >> $GITHUB_ENV
            echo "L2_OUTPUT_ROOT=0xf23a74d78b68d441fde3c2be42df34844bdd13f7c47db912946b2ba120f2cd79" >> $GITHUB_ENV
            echo "L2_HEAD=0x594061d8101caba769b5047325840b806aaa1ab26c655a3ba0c3c878a09318b4" >> $GITHUB_ENV
            echo "L1_HEAD=0xf56e3e0b057a7b841b06598b37b2bc99fd119224fa4328913a085d4c49efe344" >> $GITHUB_ENV
            echo "L2_CHAIN_ID=11142220" >> $GITHUB_ENV
            echo "WITNESS_TAR_NAME=isthmus-celo-sepolia-$BLOCK_NUMBER-witness.tar.zst" >> $GITHUB_ENV
          fi
      - name: Decompress witness data directory
        run: |
          tar --zstd -xvf ./bin/client/testdata/$WITNESS_TAR_NAME -C .
      - name: Run host + client offline
        working-directory: ./bin/client
        run: |
          mkdir -p ../../target
          just run-client-${{ matrix.target }}-offline \
            $BLOCK_NUMBER \
            $L2_CLAIM \
            $L2_OUTPUT_ROOT \
            $L2_HEAD \
            $L1_HEAD \
            $L2_CHAIN_ID
